<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="AppName" value="Seq.Client.WindowsLogins" />
    <add key="LogSeqServer" value="https://Seq.domain.com" />
    <add key="LogSeqApiKey" value="" />
    <add key="LogFolder" value="" />
  </appSettings>
</configuration>